<div *ngIf="data">
  <h3>Viewing statistics for module {{ data[0].moduleCode }}</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Section</th>
          <th>Question Number</th>
          <th>Question</th>
          <th>Agree %</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of data">
        <tr>
          <th> {{ row.moduleCode }} </th>
          <th> {{ row.section }} </th>
          <th> {{ row.questionNumber }} </th>
          <th> {{ row.question }} </th>
          <th> {{ row.agreeRate }} </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
