<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar" (click)="isCollapsed=!isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <div class="navbar-brand">Napier</div>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="">Input Page</a></li>
        <li><a routerLink="output">Output Page</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>