<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12"><h1 class="page-header">Input Page</h1></div>
    </div>
    <div *ngIf="studentModules">
        <h2>{{ studentNames }}</h2>
        <div *ngFor="let module of studentModules">
            <module [module]="module" [studentMatric]="studentMatric"></module>
        </div>
    </div>
    <div *ngIf="!studentModules">
        <form class="form-inline" (ngSubmit)="navigateToStudentPage(inputBox.value)">
            <label>Matric number:</label>
            <input #inputBox class="form-control" required="required" placeholder="Enter matric number...">
            <button class="btn btn-success">Submit
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </form>
        <small *ngIf="studentMatric=='invalid'">A student with the provided number does not exist.</small>
    </div>
</div>
