<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12"><h1>Output Page</h1></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3 class="text-left">Select a single module</h3>
            </div>
            <div class="col-md-6 col-xs-6">
                <h3 class="text-left">Compare two modules</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <form class="form-inline" (ngSubmit)="onSubmit(inputBox.value)">
                    <input 
                    #inputBox
                    class="form-control"
                    required="required"
                    placeholder="Enter module code...">
                    <button class="btn btn-success"
                            type="submit">Submit
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
            <div class="col-md-6 col-xs-6">
                <form class="form-inline" 
                      (ngSubmit)="onSubmit(inputBoxComp1.value, inputBoxComp2.value)">
                    <input 
                    #inputBoxComp1
                    class="form-control" 
                    required="required"
                    placeholder="Enter module 1 code...">
                    <input 
                    #inputBoxComp2
                    class="form-control"
                    required="required"
                    placeholder="Enter module 2 code...">
                    <button class="btn btn-success" 
                            type="submit">Submit
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <small class="text-left" *ngIf="module1Data===undefined && inputBox.value">
                    Module {{ inputBox.value }} doesn't exist.
                </small>
            </div>
            <div class="col-md-6 col-xs-6">
                <small class="text-left" *ngIf="module1Data===undefined && inputBoxComp1.value">
                    Module {{ inputBoxComp1.value }} doesn't exist.
                </small>
                <small class="text-right" *ngIf="module2Data===undefined && inputBoxComp2.value">
                    Module {{ inputBoxComp2.value }} doesn't exist.
                </small>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!comparisonMode && module1Data">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <datachart [moduleLabels]="module1Data | chartlabels"
                       [data]="module1Data | chartdata"></datachart>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
    <scores-table [data]="module1Data"></scores-table>
</div>
<div class="container" *ngIf="comparisonMode && module1Data && module2Data">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <datachart [moduleLabels]="module1Data | chartlabels"
                       [data]="module1Data | chartdata: module2Data"></datachart>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <scores-table [data]="module1Data"></scores-table>
        </div>
        <div class="col-md-6">
            <scores-table [data]="module2Data"></scores-table>
        </div>
    </div>
</div>