<div *ngIf="module && questions" class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <h3 class="panel-title pull-left">{{ module.moduleCode }}</h3>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="text-center">{{ module.moduleName }}</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <button class="btn btn-danger pull-right" (click)="showFooter=!showFooter">Rate Module</button>
            </div>
        </div>
    </div>
    <div *ngIf="showFooter" class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h5>Question: {{ currentQuestionIndex }}/{{ questions.length }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <progressbar class="progress-striped active" 
                [value]="ratingBarPercentage"
                type="success">{{ ratingBarPercentage }}%</progressbar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p class="well">{{ currentQuestion.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <button class="btn btn-primary pull-left" (click)="previousQuestion()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="col-md-4 col-xs-4 text-center">
                <rating-bar #ratingBar (ratingEmitter)="onRatingChanged($event)"></rating-bar>
            </div>
            <div class="col-md-4 col-xs-4">
                <button class="btn btn-primary pull-right" (click)="nextQuestion()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="showFooter" class="panel-footer clearfix">
        <button class="btn btn-success pull-right" 
                (click)="onSubmit()">Submit
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
    </div>
</div>
