<rating [(ngModel)]="currentRating"
        (ngModelChange)="ratingChanged($event)"
        (onHover)="hoveringOver($event)" 
        (onLeave)="overStar = 0"
        stateOn="glyphicon-ok-sign" 
        stateOff="glyphicon-ok-circle"
        [titles]="['1', '2', '3', '4', '5']"
        style="color: goldenrod; font-size: 30px;"></rating>

<div class="row">   
  <div class="col-md-12 col-sx-12"> 
    <span class="label"
          [ngClass]="
          {
            'label-danger': overStar == 1, 
            'label-warning': overStar == 2, 
            'label-info': overStar == 3, 
            'label-primary': overStar == 4, 
            'label-success': overStar == 5 
          }"
          [ngStyle]="{visibility: (overStar) ? 'visible' : 'hidden'}">{{ text }}</span>
  </div>
</div>